h2{
    color: aquamarine;
    
}
#articulo-2{
    color: chartreuse;
}
.texto-azul{
    color: darkslateblue;
}
.texto-messi{
    color: chocolate;
}

.texto-cris{
    color: crimson;
}

.texto-hazard{
    color: cyan;
}